{% extends "layout.html" %}
{% block title %}
 first tweet
 {% endblock %}
 {% block content %}
 <h1 class="text-center mt-4">welcome to the first tweet</h1>
 <h2>{% if form.instance.pk %}
    Edit
    {% else %}
    Create Tweet
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>
    <a href="{% url 'tweet_list' %}">Back to home page</a>
 </h2>
 {% endblock %}